

blockquote {
    border-left: 5px solid #555555;
    padding-left: 1.5em;
    margin-left: 0px;
}

hr {
    border: none;
    height: 3px;
    background-color: #555555!important;
}

.hidden-elements {
    display: none;
}


.outer-padding.vertical {
    width: 5px;
    height: 100%;

}

.outer-padding.horizontal {
    width: 100%;
    height: 5px;

}

.outer-padding.left {
    grid-column: 1;
    grid-row: 2;
}
.outer-padding.right {
    grid-column: 3;
    grid-row: 2;
}
.outer-padding.top {
    grid-column: 2;
    grid-row: 1;
}
.outer-padding.bottom {
    grid-column: 2;
    grid-row: 3;
}

.container > .outer-padding.top {
    grid-column: 1;
    grid-row: 0;
}

.container > .outer-padding.bottom {
    grid-column: 1;
    /* grid-row: 3; */
    grid-row: 1000;
}


#maincontent {
    grid-column: 2;
    grid-row: 2;
}

.outer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

.outer-content {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;

}


.test-results {
    display: flex;
    flex-direction: column;
    position: relative;

}

.results-summary-container {
    border-bottom: 1px solid #555555;
    padding: 7px;
}


.results-summary-container > .results-summary {
    font-size: inherit!important;

}
.results-summary-container > .results-summary > *:hover {
    background-color: #333333!important;
}


.results-summary-container > .results-summary > span.selected {
    background-color: #333333!important;

}

.results-summary > span {
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
}


.results-summary > span:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}
.results-summary > span.selected {
    background-color: #333333;

}

.results-summary > i:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}


.results-summary > i {
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
}
.output {
    overflow-y: scroll;
    box-sizing: border-box;
}
.results-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.code-output {
    height: auto;
    padding: 10px;
    width: auto;
    font-family: Consolas, "Courier New", monospace; 
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    background-color: #1e1e1e;
    color: #d4d4d4;
    cursor: auto;    
    /* overflow: hidden; */
}
.code-output > span {
    overflow: hidden;
    white-space: pre-wrap;

}


.test-groups {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0px 0px 0px 20px;

}
.group-sets {
    margin: 0px 0px 0px 20px;
}

.set-results {
    margin: 0px 0px 0px 20px;
}
.set-result > span:last-of-type {
    margin-top: 5px;
    margin-left: 20px;
}

.test-group {
    margin: 10px 0px 0px 0px;
}


.group-set {
    margin: 5px 0px 0px 0px;
}

.set-result {
    margin: 5px 0px 0px 0px;

}



.set-result > span {
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.set-result > span > i {
    position: absolute;
    left: -10px;
}
.set-result.pass > span {
    margin-left: 5px;
}

.set-result.fail > span:first-of-type > span {
    margin-left: 5px;
}

.set-result.fail > span:last-of-type {
    font-size: 14px;
    white-space: pre;
}


.set-result.fail > span:first-of-type:hover {
    border-radius: 3px;
    background-color: #333333;
    cursor: pointer;
}



.test-group > span > i {
    position: absolute;
    left: -10px;
    /* left: 5px; */
    /* margin: 0px 5px 0px 0px; */
}

.group-set > span > i {
    position: absolute;
    left: -10px;

    /* margin: 0px 5px 0px 0px; */
}

.test-group > span {
    position: relative;
    font-size: 20px;
    display: flex;
    margin: 0px 10px 0px 0px;
    align-items: center;
}

.test-group > span:hover {
    border-radius: 3px;
    background-color: #333333;
    cursor: pointer;
}

.test-group > span:hover > span:last-of-type > span.selected {
    background-color: #1E1E1E;
}

.test-group > span > span:first-of-type {
    margin-left: 5px;
}

.group-set > span > span:first-of-type {
    margin-left: 5px;
}




.results-summary {
    margin: 0px 1px 0px auto;
    font-size: small;
}

.group-set > span {
    position: relative;
    font-size: 18px;
    display: flex;
    margin: 0px 10px 0px 0px;
    align-items: center;
    padding: 1px 0px 1px 0px;

}

.group-set > span:hover {
    border-radius: 3px;

    background-color: #333333;
    cursor: pointer;
}




.container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    /* padding: 5px; */
}
.drag-container {
    position: absolute!important;
    z-index: 100!important;
    /* border: 2px solid #555555; */
    /* border-radius: 6px; */
    grid-template-rows: auto 1fr!important;
}




textarea {
    font-family: Consolas, "Courier New", monospace; 
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    background-color: #1e1e1e;
    resize: none;
    color: #d4d4d4;
    cursor: auto;
    outline: none;
}




.window.hover {
    border: 2px solid #00ff4c!important;
}

.page-content.hover {
    border: 2px solid #00ff4c!important;

}

.seperator.hover {
    background-color: #00ff4c;

}

.save-challenge > .page-content {
    padding: 5px;
}

.outer-padding.hover {
    background-color: #00ff4c;
    /* border: 2px solid #00ff4c!important;
    border-radius: 6px!important; */

}

#simplemde-container {
    /* grid-template-rows: auto auto 1fr; */
}

.title-input {
    padding: 5px;
    background-color: #444444;
    outline: none;
    border: 1px solid #555555;
    color: #aaaaaa;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tdivv {
    border-top: 1px solid #555555;
}





.title-input:focus {
    border-color: #FFAB00;

}

.challenge-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}




.seperator.vertical {
    width: 5px;
    height: 100%;
    position: relative;

    cursor: col-resize;
}

.seperator.horizontal {
    width: 100%;
    height: 5px;
    position: relative;

    cursor: row-resize;
}


#save-button {
    width: 145px;
}